<dialog class="modal" id="error_modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <div class="alert alert-error alert-soft" role="alert">
            <svg class="h-[2em]" fill="currentColor" viewBox="0 -960 960 960" xmlns="http://www.w3.org/2000/svg">
                <path [attr.d]="Svg.crossInCircle"/>
            </svg>
            <p class="whitespace-pre-line">{{ errorMessage() }}</p>
        </div>
    </div>
    <form class="modal-backdrop" method="dialog">
        <button>close</button>
    </form>
</dialog>
