<div class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl" routerLink="/">Home</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            @if (authenticationService.authenticationData()?.role === Role.ROLE_ADMIN) {
                <li><a>Nutzerverwaltung</a></li>
            }
            @if (authenticationService.authenticationData()) {
                <li>
                    <details>
                        <summary>{{ authenticationService.authenticationData()?.username }}</summary>
                        <ul class="bg-base-100 rounded-t-none p-2">
                            <li><a (click)="authenticationService.logout()">
                                <svg class="h-[1.5em]" fill="currentColor" viewBox="0 -960 960 960"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path [attr.d]="Svg.logOut"/>
                                </svg>
                            </a></li>
                        </ul>
                    </details>
                </li>
            } @else {
                <li><a routerLink="login">Zur Anmeldung</a></li>
            }
        </ul>
    </div>
</div>
